<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta content="" name="description" />
    <meta content="" name="author" />



    <title>OpenDRI Index - About the project</title>
    <link rel="icon" href="img/template/favicon.png" type="image/png">
    <link rel="icon" href="img/template/favicon.ico" type="image/vnd.microsoft.icon">
    <!-- jQuery library -->
    <script src="vendor/bower/jquery/dist/jquery.js"></script>

    <!-- Angular components -->
    <script src="vendor/bower/angular/angular.min.js"></script>

    <link href="vendor/bower/ng-table/dist/ng-table.min.css" rel="stylesheet">
    <script src="vendor/bower/ng-table/dist/ng-table.min.js"></script>
    <script src="vendor/bower/marked/marked.min.js"></script>

    <!-- bootstrap Framework -->
    <!-- Bootstrap -->
    <link href="vendor/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- font awesome-->
    <link rel="stylesheet" href="vendor/bower/font-awesome/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="vendor/bower/animate.css/animate.min.css" rel="stylesheet">

    <!-- RODI APP -->
    <script src="js/angular/app.js"></script>
    <script src="js/angular/service.js" type="text/javascript"></script>
    <script src="js/angular/controller.js" type="text/javascript"></script>
    <script src="js/angular/controller_mainmenu.js" type="text/javascript"></script>
    <script src="js/angular/directive.js" type="text/javascript"></script>
    <!-- RODI APP -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80600133-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-80600133-2');
    </script>


    <!-- RODI css -->
    <link href="css/rodi_css.css" rel="stylesheet">

</head>
<body ng-app="RodiApp" ng-controller="RodiCtrl">

<nav class="navbar navbar-main">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./">
        <svg ng-if="!isIE11" class="logo_icon" aria-hidden="true" focusable="false" fill="currentColor;">
          <use xlink:href="img/logo.svg#logo_open_data_full"></use>
        </svg>
          <img ng-if="isIE11" ng-src="img/logo_fallback@1x.png" alt="" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="top-navbar-collapse">
      <mainmenu></mainmenu>
    </div>
  </div>
</nav>

<div class="container">
        <div class="row" id="top-menu">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="page_title">About this website</h1>

                <nav class="toc"><ul class="list-inline text-center rodi_methodology_submenu"></ul></nav>

            </div>
        </div>
    <!-- Section HEADER - FINE -->


    <!-- ABOUT TITLE -->


    <div class="row" id="intro">
        <main class="col-xs-12 col-sm-10 col-md-8 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 text-content">
          <div ng-markdown data-toc-selector="#top-menu .toc > ul" hidden>
The Open Data for Resilience Index is managed by the
[Open Data for Resilience Initiative](https://opendri.org) (OpenDRI).
Together with other tools such as [ThinkHazard!](http://thinkhazard.org),
[Geonode](http://geonode.org/), and [Inasafe](http://inasafe.org/), it aims
at improving risk information through better access to data.

Information available on the website is collected and updated on a voluntary
basis primarily by people from the [Understanding Risk](https://understandrisk.org)
(UR) community and then reviewed by a team of Disaster Risk Management and
Open Data specialists.

## OpenDRI

In 2011, the [Global Facility for Disaster Reduction and Recovery](https://www.gfdrr.org) (GFDRR)
launched the Open Data for Resilience Initiative to apply the concepts
of the global open data movement to the challenges of reducing vulnerability
to natural hazards and the impacts of climate change. OpenDRI supports
[World Bank Regional Disaster Risk Management Teams](http://www.worldbank.org/en/topic/disasterriskmanagement)
to build capacity and long-term ownership of open data projects with client
countries that are tailored to meet specific needs and goals of stakeholders.

## Understanding Risk community

Understanding Risk (UR) is an open and global community of over 7,000 experts
and practitioners interested and active in the creation, communication and
use of disaster risk information. UR community members share knowledge and
experience, collaborate, and discuss innovation and best practice in risk assessment.

## Partners

The Open Data for Resilience Index has been developed and is being maintained
in partnership with [CIMA Foundation](http://www.cimafoundation.org),
[Global Earthquake Model](https://www.globalquakemodel.org) and
[Deltares](https://www.deltares.nl/en).

## Acknowledgements

The Open Data for Resilience Index is inspired by the
[Open Data Index](https://index.okfn.org/) of Open Knowledge and the
[Open Data Barometer](http://opendatabarometer.org/) of the Web Foundation.
It applies the idea of tracking and assessing open data to the Disaster
Risk Management sector.

## Licenses and terms of use

The Open Data for Resilience Index is available under the GNU General Public
License, Version 3, 29 June 2007 and the source code is
[available on Github](https://github.com/GFDRR/open-risk-data-dashboard).
Unless specified, data and texts of the website are licensed under a
[Creative Commons Attribution Share Alike 4.0 License](https://creativecommons.org/licenses/by-sa/4.0/legalcode).
Homepage picture: Kofu, Japan, by Joseph Chan available on
[Unsplash](https://unsplash.com/photos/BM22q72Z2YU) under an open license.

## Disclaimer

The Open Data for Resilience Index is a crowsourced platform. Information
available is collected, updated and reviewed on a voluntary basis primarily
by the Understanding Risk community. Results should always be read carrefully
and sources checked.

Therefore, even though it aims to provide accurate and up to date information,
the Open Data for Resilience Index cannot guarantee the accuracy, completeness
or authenticity of information available.

Furthermore, the abscence of submission for a given dataset does not mean that
the data does not exist or is not available, only that no user has submitted
information on this dataset yet.

In any case, if you think information on a dataset is not correct or missing,
you can submit your own.

## Contact
              
For any questions or concerns, send an email to: opendri [at] gfdrr [dot] org
          </div>
        </main>
  </div>
</div>
<!--END Container fluid-->

<footer class="footer">
    <rodifooter></rodifooter>
</footer>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="vendor/bower/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
