<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="description" content="A collaborative and global assessment of open data for reducing vulnerability and building resilience to natural hazards. The Open Data for Resilience Index is a tool to identify, assess and compare, for any country, the availability and ease-of-use of datasets that are considered to be key for disaster risk management."/>
    <meta content="GFDRR" name="author" />

    

    <title>OpenDRI Index</title>
    <link rel="icon" href="img/template/favicon.png" type="image/png">
    <link rel="icon" href="img/template/favicon.ico" type="image/vnd.microsoft.icon">

    <!-- jQuery library -->
    <script src="vendor/bower/jquery/dist/jquery.min.js"></script>

    <!-- Angular components -->
    <script src="vendor/bower/angular/angular.min.js"></script>

    <link href="vendor/bower/ng-table/dist/ng-table.min.css" rel="stylesheet">
    <script src="vendor/bower/ng-table/dist/ng-table.min.js"></script>

    <!-- bootstrap Framework -->
    <link href="vendor/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- font awesome-->
    <link rel="stylesheet" href="vendor/bower/font-awesome/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- RODI APP -->
    <script src="js/angular/app.js"></script>
    <script src="js/angular/service.js" type="text/javascript"></script>
    <script src="js/angular/controller.js" type="text/javascript"></script>
    <script src="js/angular/controller_mainmenu.js" type="text/javascript"></script>
    <script src="js/angular/directive.js" type="text/javascript"></script>
    <!-- RODI APP -->

    <!-- RODI css -->
    <link href="css/rodi_css.css" rel="stylesheet">
    <link href="css/style_map.css" rel="stylesheet">
    <link href="css/land.css" rel="stylesheet">

    <!-- Tooltip init -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80600133-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-80600133-2');
    </script>

</head>
<body ng-app="RodiApp" ng-controller="RodiCtrl">

<div class="alert alert-success" role="alert" style="width:100%;text-align: center;margin-bottom: 0px">This is a beta version. While you navigate the website, we invite you to provide feedback through <a class="alert-link" href="https://docs.google.com/forms/d/e/1FAIpQLSddVOUyn1-cCpdF9wc2RgAEpHPCTcO-jhT03DKnx9cU3x22PQ/viewform" target="_blank">this form</a>. Many thanks!</div>

<nav class="navbar navbar-main">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./"  ng-click="changepage('./')">
        <svg ng-if="!isIE11" class="logo_icon" aria-hidden="true" focusable="false" fill="currentColor;">
          <use xlink:href="img/logo.svg#logo_open_data_full"></use>
        </svg>
          <img ng-if="isIE11" ng-src="img/logo_fallback@1x.png" alt="" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="top-navbar-collapse">
      <mainmenu></mainmenu>
    </div>
  </div>
</nav>



<!-- Section image counters and buttons -->
<section class="odfri_box_home_page">

<div class="container">
        <div class="row">
            <div class="col odfri_home_title col-xs-12">
                <h1>Tracking <a href="methodology.html">Open Data</a> for <a href="methodology.html">Disaster Risk Management</a></h1>
                <!--<span>A collaborative and global assessment of open data for reducing vulnerability and building resilience to natural hazards</span>-->
                <p>A collaborative and global assessment of availability and ease of use of data related to natural hazards</p>
            </div>
        </div>
</div>
<div class="stats-boxes">
    <div class="odfri_box_counter" title="Number of datasets submitted (out of 7020 possible entries).">
        <span ng-cloak>{{totalDataset}}</span>
        <h3 class="odfri_box_counter_description">datasets</h3>
    </div>

    <div class="odfri_box_counter" title="Percentage of submitted datasets fully open">
        <span ng-cloak>{{iOpenIndex}}%</span>
        <h3 class="odfri_box_counter_description">open data</h3>
    </div>


    <div class="odfri_box_counter" title="Number of countries with at least one dataset submitted">
        <span ng-cloak>{{countryWithData}}</span>
        <h3 class="odfri_box_counter_description">countries</h3>
    </div>
</div>

    <!-- Call to action-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="countries.html" class="btn btn-custom btn-xxl">Explore countries</a>
                    <a href="contribute.html" class="btn btn-custom btn-xxl">Submit a dataset</a>
                </div>
            </div>
        </div>
</section>

<footer class="footer">
    <rodifooter></rodifooter>
</footer>


<script src="vendor/bower/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
