<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta content="" name="description" />
    <meta content="" name="author" />

    

    <title>OpenDRI Index - Country Details</title>
    <link rel="icon" href="img/template/favicon.png" type="image/png">
    <link rel="icon" href="img/template/favicon.ico" type="image/vnd.microsoft.icon">

    <!-- jQuery library -->
    <script src="vendor/bower/jquery/dist/jquery.js"></script>

    <!-- Angular components -->
    <script src="vendor/bower/angular/angular.min.js"></script>

    <link href="vendor/bower/ng-table/dist/ng-table.min.css" rel="stylesheet">
    <script src="vendor/bower/ng-table/dist/ng-table.min.js"></script>

    <!-- bootstrap Framework -->
    <!-- Bootstrap -->
    <link href="vendor/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- font awesome-->
    <link rel="stylesheet" href="vendor/bower/font-awesome/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="vendor/bower/animate.css/animate.min.css" rel="stylesheet">

    <!-- RODI APP -->
    <script src="js/angular/app.js"></script>
    <script src="js/angular/service.js" type="text/javascript"></script>
    <script src="js/angular/controller_news.js" type="text/javascript"></script>
    <script src="js/angular/controller_mainmenu.js" type="text/javascript"></script>
    <script src="js/angular/directive.js" type="text/javascript"></script>
    <!-- RODI APP -->

    <!--ADOBE typekit-->
    <!--<script src="https://use.typekit.net/yxp8fxq.js"></script>-->
    <!--<script>try{Typekit.load({ async: true });}catch(e){}</script>-->

    <!-- RODI css -->
    <link href="css/rodi_css.css" rel="stylesheet">

</head>
<body ng-app="RodiApp" ng-controller="RodiCtrlNews">


    <div class="container-fluid">


           <div class="row">
               <section id="header">

                   <helpfeedbackbox></helpfeedbackbox>
                   <a ng-if="bHome" href="index.html" data-toggle="tooltip" title="Home">
                       <img src="img/template/rodi_logo_new.png" alt="Open Data for Resilience Initiative" class="img-responsive" />
                   </a>

               </section>

               <!-- Content of page -->
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                   <div class="row ">
                       <!-- Menu versione mobile -->
                       <div class="col-xs-12 visible-xs">
                           <div class="flex-container title">
                               <h1 class="page_title ">{{countryData[0].desc}}</h1>
                               <mainmenu></mainmenu>
                           </div>
                       </div>

                       <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                           <div class="media-left media-middle">
                               <img ng-src="{{newsDetails.img}}" alt="" class="media-object" >
                           </div>
                       </div>
                       <!--<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">-->

                           <!--<span class="visible-xs">{{countryData[0].text}}</span>-->
                       <!--</div>-->
                       <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">

                           <div class="flex-container title">
                               <h1 class="page_title ">NEWS</h1><br>
                               <h4>{{newsDetails.title}}</h4>
                              <mainmenu></mainmenu>
                           </div>
                       </div>

                   </div>
               </div>

           </div>

        <!-- Country Matrix -->
        <div class="row">
          	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="text-center">
                      <p>
                          {{newsDetails.text}}
                      </p>
                      <button class="btn btn-primary" ng-click="goBack()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                  </div>
          	</div>
          </div>

    </div>
    <!--END Container fluid-->

    <footer class="footer">
        <rodifooter></rodifooter>
    </footer>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="vendor/bower/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
