pkg-resources==0.0.0
Django==1.11.22
psycopg2==2.7.1
djangorestframework==3.6.3
django-cors-headers==2.1.0
djangorestframework-csv==2.0.0
randstr==0.1.2
django-jenkins==0.110.0
# django-admin-view-permission==0.9
gunicorn==19.7.1
