/*font icon*/
@import url('style.css');
/*font set google*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed:300,400,700');

body, html, input, p {
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, span {
    font-family: 'Open Sans Condensed', sans-serif;
    /*font-family: 'Roboto Condensed', sans-serif;*/
}


/* ************************************ */
/* R.O.D.I. STYLE ELEMENTS - INIZIO     */
/* ************************************ */

section
{
    /* margin-bottom:30px; */
}

.m_b_20
{
    margin-bottom: 20px;
}

.rodi_big_text
{
    font-size: 17px;
}

.rodi_divider
{
    height:20px;
    border-top: solid 1px #c0c0c0;
}

.display_none
{
    display: none;
}

.display_ok
{
    display: inherit !important;
}

.map_place
{
    width:100%;
    /*background-color: #00b3ee;*/
}

.partner_box
{
    width:100%;
    margin-top: -100px;
}


.partner_box img {height:100px;}
.little {transform:scale(0.5);}

.news_box
{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.news_box img
{
    max-width:100%;
}

.news_title
{
    position: absolute;
    left:20%;
    text-align: center;
    padding:15px;
    background-color: rgba(238,48,54,1);
    color:#ffffff;
    bottom:-25px;
}

.page_title
{
    color:rgb(238,48,54);
    font-size:50px;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    white-space: nowrap;
}

.page_title:after {
    content: '';
    border-right: 2px solid rgba(128,128,132,0.5);
    padding-left:calc(10%);
    margin-right: calc(-16.6 * 3px);
}

.rodi_tabpanels
{
    border:solid 1px #ddd;
    border-top:0px;
    padding:20px;
}

.contribute_field_box
{
    width:100%;
    padding:15px;
    background-color:#f0f0f0;
    border:solid 1px #c0c0c0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom:10px;
}

.contribute_field_validator
{
    font-size:20px;
    color:green;
    margin-top: -10px;
}

.contribute_field_validator_wait
{
    font-size:20px;
    /*color:#ffd700;*/
    color: #e6b217;
    /*margin-top: -10px;*/
}

.contribute_feedbak_box
{
    padding:15px;
}

.help_feedback_box
{
    position:absolute;
    right:20px;
    padding:20px;
    font-size:25px;
    cursor: pointer;

    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.help_feedback_box,
.help_feedback_box a
{
    color:#EE3036;
    padding:0 5px;
}

.contextual_content
{
    position:absolute;
    /*width:80%;*/
    left:10%;
    right:10%;
    top:10%;
    padding:30px;
    background-color: #f0f0f0;
    z-index: 1000;
    border:solid 1px #c0c0c0;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    max-height: 80vh;
    overflow: auto;
}

.register_txt_box
{
    width:100%;
    padding-right: 20px;
}

.register_error
{
    color:red;
}





/*
==============================================================================

        Dataset field

==============================================================================
*/
/*.dataset.table th {text-align:center}*/
.dataset.table td {vertical-align: middle; padding:0;}
.dataset_value i {
    color: white;
    padding: 10px;
    margin:2px;
    font-size: 1.5em;
    min-width: 40px;
    max-width: 40px;
    text-align: center;
}
.dataset_value p {margin:0;}
.dataset_value i[aria-hidden~=false] {background: #EE3036;}
.dataset_value i[aria-hidden~=true] {background: green;}


/*
==============================================================================

Footer

==============================================================================
*/
.rodi_footer
{
    width:100%;
    background-color: #122b40;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom:30px;
}

.footer_separator
{
    width:40%;
    margin:auto;
    margin-top:10px;
    height:15px;
    border-top:solid 1px #f0f0f0;
}

.footer_link
{
    color:#ffffff;
    font-size: 18px;
    margin-right:15px;
}

.footer_link:hover
{
    text-decoration: none;
    color:red;
}


.space {
    height: 50vh;
    /* height: auto; */
}

.footer {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*
==============================================================================

                MATRIX

==============================================================================
*/
.matrix_cell
{
    padding:4px;
    width:40px;
    min-height:40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin:auto;
    transition: all 0.6s;
}

.matrix_cell_round
{
    padding:4px;
    width:15px;
    min-height:15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin:auto;
}

.matrix_cell a:hover
{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border:solid 1px #000000;
}

.matrix_green_value,
.matrix_red_value {
    font-size: 24px;
    color:#000000;
    padding:4px 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.matrix_green_value {background-color: #add690;}
.matrix_red_value {background-color: #f48388;}

.row_icon i
{
    z-index: -1;
    overflow: hidden;
    border-radius:50%;
    border: 2px solid #EE3036;
    font-size: 3em;
}

.row_icon span
{
    color: #a0a0a0;
    /*font-size: 11px;*/
    text-transform: uppercase;
}

.row_icon a
{
    text-decoration: none;
}

.row_icon a:hover
{
    color: #007899;
    border-color: #007899;
    background: none;
    cursor: pointer;
}


/* ************************************ */
/*     SEARCH BOX STYLE - START         */
/* ************************************ */



/* ************************************ */
/* PERSONALIZZAZIONI BOOTSTRAP - INIZIO */
/* ************************************ */

.navbar-toggle-left-black
{
    float:left;
    background-color: #232323;
}

.navbar-toggle-right-black
{
    float:right;
    background-color: #232323;
}

.icon-bar-white
{
    background-color: #ffffff;
}

.navbar-nav span
{
    color:#a0a0a0;
    font-size:11px;
    text-transform: uppercase;
}

.navbar-nav li.active
{
    background-color: rgba(238,48,54,1);
    z-index: 100;
}

.navbar-nav li.active span, .navbar-nav li.active i
{
    color:#ffffff;
}

[class^="icon-"], [class*=" icon-"],
.nav>li>a {
    color: #ee3036;
}

.nav li a {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    padding:10px;
}

.nav li a i {
    z-index: -1;
    overflow: hidden;
    border-radius:50%;
    border: 2px solid #EE3036;
    font-size: 3em;
}

.nav>li>a:hover i, .nav>li>a:focus i,
.nav>li>a:hover, .nav>li>a:focus,
.nav>li>a:hover span, .nav>li>a:focus span,
.navbar-form>a:hover,
.row_icon>a:hover i
{
    color:#007899 ;
    border-color:#007899 ;
    background:none;
    cursor: pointer;
}


.login_form_box .form>i {
    color: white;
}



.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    border-top:0px;
}

.table > thead > tr > th {
    border-bottom: 0px;
}


/*#menu-hazard .nav>li:nth-last-child(1)>a,*/
/*#menu-hazard .nav>li:nth-last-child(2)>a,*/
/*#menu-hazard .nav>li:nth-last-child(3)>a,*/
/*#menu-hazard .nav>li:nth-last-child(4)>a,*/
/*#menu-hazard .nav>li:nth-last-child(5)>a{*/
/*content: '';*/
/*border-left: 2px solid rgba(128,128,132,0.5);*/
/*}*/


/*
==============================================================================

button

==============================================================================
*/
.btn-custom {
    background-color: #EE3036;
    border-color: #EE3036;
    border:none;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #ec181f;
    border-color: #d91218;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #EE3036;
    border-color: #EE3036;
}


/*
==============================================================================

                    Form login/input

==============================================================================
*/


.login_form_box input
{
    background-color: #232323;
    border:0px;
    color:#ffffff;
}


.login_form_box
{
    position: absolute;
    width:90%;
    top:25%;
    left:0;
    background-color: rgba(0,0,0,.8);
    z-index:100;
    color:#ffffff;
    padding:20px;
    z-index: 1000;
}

.login_form_box a {    color:#ffffff;}

.login_form_box .form {
    display: flex;
    justify-content: center;
    align-items: center;
}


.login_form_box .form input {margin-right:2em;}


.form-group {
    display:flex;
    padding:1em;
}

.form-control,
.form-control:focus {
    /*border: none;*/
    box-shadow:none;
    -webkit-box-shadow:none;
    border-radius:0;
    outline: 0;

}

/*input.form-control {border-bottom:solid 2px #EE3036;}*/

.form-control:hover { border-color:#007899;}
.form-control:focus { border-bottom:solid 4px #007899; }
.navbar-header .form-control:focus {width:150%;}

.form-control,
.form-control:focus {
    animation: all 0.3s ease;
}




/*
==============================================================================

  MEDIA

==============================================================================
*/

.media-object {
    max-width:250px;
    max-height:250px;
}
.media {padding-bottom: 2em;}
hr {
    border-bottom:4px solid #EE3036;
    width:100%;
    /*position: absolute;*/
    /*margin-bottom: 1em;*/
    /*left:0;*/
    /*right:0;*/



}
/*
==============================================================================

                    flex

==============================================================================
*/
.flex-container {
    display: flex;
    flex-direction: row ;
}
.flex-container.title {
    justify-content: space-between;
    align-items: center;
}

/*
==============================================================================

                        svg

==============================================================================
*/

.map_place svg {
    background: lightblue;
}



.head_sep {
    display:block;
    padding: 0;

}
.white {    background:  url('../img/separator_white.svg') center no-repeat;}
.blu {    background:  url('../img/separator_blu.svg') center no-repeat;}

.horiz {
    transform:scale(1.1);
    height: 100px;
    width:100%;
}

.vert {
    transform: scale(5,1.2) rotate(-90deg);
    position: absolute;
    margin-left: -50vh;
    height: 100px;
    width: 90vh;
    /* top:50%; */
    /* top:50vh; */
    z-index:1;
    top: 38vh;
    /*bottom: -50vh;*/
    min-width: 50vh;
    max-width: 90vh;
}

.head_sep.white  {margin-top:-50px;}
.head_sep.white + div {margin-top:-60px;}

.navbar {margin-bottom: 0;}
.navbar-form {display:flex; align-items:center;}

.navbar-toggle-right-black,
.navbar-toggle-left-black {    margin: 15px;  }

#menu-hazard .nav li {
    max-width: calc(100%/8);
}

/*
================================================
responsive
================================================
*/
@media screen and (min-width:1200px) {
    /*.page_title:after {        padding-left:calc(100%/3);    }*/
}
@media screen and (min-width:1024px) {}

@media screen and (max-width:1024px) and (orientation:landscape) {
    .nav>li>a {padding:10px;}
    .nav>li>a>i {    font-size:2em;}
}

@media screen and (max-width:980px) {
    .page_title {font-size: 40px;}
    .nav>li>a>i {    font-size:2em;}
    .head_sep {display: none;}
}
@media screen and (max-width:768px) and (orientation:portrait) {

    section {margin:0;}
    #rodi_header .img-responsive {

        max-width:calc(100vh/3);
        max-height:80px;
        margin:20px auto;
    }
    .nav li a {
        flex-direction:row;
        justify-content:flex-start

    }
    .nav li a span { padding-left:1em; font-size:120%}
    /*mainmenu .navbar,
    hazardmenu .navbar,*/
    .navbar-header {margin-top:-50px;}
    .partner_box  {margin:inherit;}
    .news_box {        margin-bottom: 2em;    }
    .navbar-form {

        justify-content:center;
        width:100%;
    }
    /*     .navbar-form .form-group {flex-grow:2;} */
    .navbar-form {margin-top:-8em;}
    #menu-hazard .nav li { max-width:inherit;}


}

@media screen and (max-width:480px) {
    #rodi_header .img-responsive { height:50px; margin-top:40px;}
    .collapse.in .navbar-nav {
        z-index:1;
        padding:0 0 30vw;
    }
}






