@font-face {
  font-family: 'hazard';
  src:  url('fonts/hazard.eot?xogkm6');
  src:  url('fonts/hazard.eot?xogkm6#iefix') format('embedded-opentype'),
    url('fonts/hazard.woff2?xogkm6') format('woff2'),
    url('fonts/hazard.ttf?xogkm6') format('truetype'),
    url('fonts/hazard.woff?xogkm6') format('woff'),
    url('fonts/hazard.svg?xogkm6#hazard') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hazard' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-register:before {
  content: "\e906";
}
.ico-login:before {
  content: "\e907";
}
.ico-contribute:before {
  content: "\e908";
}
.ico-news:before {
  content: "\e909";
}
.ico-world2:before {
  content: "\e902";
}
.ico-globe2:before {
  content: "\e902";
}
.ico-internet2:before {
  content: "\e902";
}
.ico-network2:before {
  content: "\e902";
}
.ico-base_data2:before {
  content: "\e902";
}
.ico-cyclone:before {
  content: "\e64a";
}
.ico-river_flood:before {
  content: "\e652";
}
.ico-river_flooding:before {
  content: "\e652";
}
.ico-earthquake:before {
  content: "\e64b";
}
.ico-water_scarcity:before {
  content: "\e650";
}
.ico-tsunami:before {
  content: "\e655";
}
.ico-landslide:before {
  content: "\e656";
}
.ico-volcano:before {
  content: "\e65d";
}
.ico-vulcano:before {
  content: "\e65d";
}
.ico-logout:before {
  content: "\e90c";
}
.ico-world:before {
  content: "\e900";
}
.ico-globe:before {
  content: "\e900";
}
.ico-internet:before {
  content: "\e900";
}
.ico-network:before {
  content: "\e900";
}
.ico-base_data:before {
  content: "\e900";
}
.ico-vulnerability:before {
  content: "\e903";
}
.ico-extreme_heat:before {
  content: "\e90d";
}
.ico-wildfire:before {
  content: "\e910";
}
.ico-urban_flood:before {
  content: "\e90f";
}
.ico-tornado:before {
  content: "\e90e";
}
.ico-coastal_flood:before {
  content: "\e901";
}
.ico-coastal_flooding:before {
  content: "\e901";
}
.ico-methodology:before {
  content: "\e90a";
}
.ico-info:before {
  content: "\e904";
}
.ico-information:before {
  content: "\e904";
}
.ico-office:before {
  content: "\e905";
}
.ico-buildings:before {
  content: "\e905";
}
.ico-work:before {
  content: "\e905";
}
.ico-exposure:before {
  content: "\e905";
}
.ico-warning:before {
  content: "\e90b";
}
.ico-alert:before {
  content: "\e90b";
}
.ico-hazard_info:before {
  content: "\e90b";
}
