@font-face {
  font-family: 'hazard';
  src:  url('fonts/hazard.eot?xogkm6');
  src:  url('fonts/hazard.eot?xogkm6#iefix') format('embedded-opentype'),
    url('fonts/hazard.woff2?xogkm6') format('woff2'),
    url('fonts/hazard.ttf?xogkm6') format('truetype'),
    url('fonts/hazard.woff?xogkm6') format('woff'),
    url('fonts/hazard.svg?xogkm6#hazard') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"],
[class^="icon-"], [class*=" icon-"]{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hazard' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-register:before,
.icon-register:before{
  content: "\e906";
}
.ico-login:before,
.icon-login:before{
  content: "\e907";
}
.ico-contribute:before,
.icon-contribute:before{
  content: "\e908";
}
.ico-news:before,
.icon-news:before{
  content: "\e909";
}
.ico-world2:before,
.icon-world2:before{
  content: "\e902";
}
.ico-globe2:before,
.icon-globe2:before{
  content: "\e902";
}
.ico-internet2:before,
.icon-internet2:before{
  content: "\e902";
}
.ico-network2:before,
.icon-network2:before{
  content: "\e902";
}
.ico-base_data2:before,
.icon-base_data2:before{
  content: "\e902";
}
.ico-cyclone:before,
.icon-cyclone:before{
  content: "\e64a";
}
.ico-river_flood:before,
.icon-river_flood:before{
  content: "\e652";
}
.ico-river_flooding:before,
.icon-river_flooding:before{
  content: "\e652";
}
.ico-earthquake:before,
.icon-earthquake:before{
  content: "\e64b";
}
.ico-water_scarcity:before,
.icon-water_scarcity:before{
  content: "\e650";
}
.ico-tsunami:before,
.icon-tsunami:before{
  content: "\e655";
}
.ico-landslide:before,
.icon-landslide:before{
  content: "\e656";
}
.ico-volcano:before,
.icon-volcano:before{
  content: "\e65d";
}
.ico-vulcano:before,
.icon-vulcano:before{
  content: "\e65d";
}
.ico-logout:before,
.icon-logout:before{
  content: "\e90c";
}
.ico-world:before,
.icon-world:before{
  content: "\e900";
}
.ico-globe:before,
.icon-globe:before{
  content: "\e900";
}
.ico-internet:before,
.icon-internet:before{
  content: "\e900";
}
.ico-network:before,
.icon-network:before{
  content: "\e900";
}
.ico-base_data:before,
.icon-base_data:before{
  content: "\e900";
}
.ico-vulnerability:before,
.icon-vulnerability:before{
  content: "\e903";
}
.ico-extreme_heat:before,
.icon-extreme_heat:before{
  content: "\e90d";
}
.ico-wildfire:before,
.icon-wildfire:before{
  content: "\e910";
}
.ico-urban_flood:before,
.icon-urban_flood:before{
  content: "\e90f";
}
.ico-tornado:before,
.icon-tornado:before{
  content: "\e90e";
}
.ico-coastal_flood:before,
.icon-coastal_flood:before{
  content: "\e901";
}
.ico-coastal_flooding:before,
.icon-coastal_flooding:before{
  content: "\e901";
}
.ico-methodology:before,
.icon-methodology:before{
  content: "\e90a";
}
.ico-info:before,
.icon-info:before{
  content: "\e904";
}
.ico-information:before,
.icon-information:before{
  content: "\e904";
}
.ico-office:before,
.icon-office:before{
  content: "\e905";
}
.ico-buildings:before,
.icon-buildings:before{
  content: "\e905";
}
.ico-work:before,
.icon-work:before{
  content: "\e905";
}
.ico-exposure:before,
.icon-exposure:before{
  content: "\e905";
}
.ico-warning:before,
.icon-warning:before{
  content: "\e90b";
}
.ico-alert:before,
.icon-alert:before{
  content: "\e90b";
}
.ico-hazard_info:before,
.icon-hazard_info:before{
  content: "\e90b";
}
