/*

==============================================================================

Color set matrix cell

==============================================================================

*/
progress {
  border: 3px solid rgba(255, 255, 255, 0.3);
  background-color: lightgrey; }
  progress::-webkit-progress-bar {
    background-color: lightgrey; }
  progress::-webkit-progress-value {
    background-color: #FF8000; }
  progress::-moz-progress-bar {
    background-color: #FF8000; }

.matrix_cell {
  background-color: rgba(211, 211, 211, 0.4);
  border: 2px solid lightgrey; }

.matrix_cell:hover,
.matrix_cell:focus,
.data strong:hover ~ progress {
  border-color: #FF8000; }

.data td strong:hover a, .data td strong:focus a {
  color: rgba(51, 51, 51, 0.75); }

.table.data strong small, .table.data strong a {
  color: #333; }

.jumbotron {
  background: -webkit-linear-gradient(left, #E0F7FA, #dedede);
  background: linear-gradient(to right, #E0F7FA, #dedede); }
  .jumbotron .table.data tr,
  .jumbotron .table.dataset tr {
    border: 1px solid rgba(211, 211, 211, 0.6); }
  .jumbotron .table.data th,
  .jumbotron .table.dataset th {
    background: rgba(255, 255, 255, 0.5); }

.table.dataset .status .fa {
  background: rgba(50, 154, 209, 0.8); }
  .table.dataset .status .fa.ok {
    background: rgba(0, 128, 0, 0.8); }
  .table.dataset .status .fa.rev {
    background: rgba(255, 0, 0, 0.8); }

