
/*********************************************************/
/********* BOOTSTRAP PERSONALIZATIONS ********************/
/*********************************************************/

.table>thead>tr>th {
    border-bottom: 0px;
    font-size:18px;
    padding-top:10px;
    padding-bottom:10px;
    display: table-cell;
    vertical-align: top;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0,120,153,.1);
}

.table>tbody>tr>td
{
    border-top: 0px;
    font-size:16px;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle
}

@media (max-width: 425px) {
    .table > tbody > tr > td {
        max-width: 200px;
    }
}

.table-hover > tbody > tr:hover {
    background-color: rgba(0,120,153,.3);
}

.ng-table th
{
    text-align: left;
}

.table_modal_txt
{
    font-weight: normal;
    font-size:15px;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting
{
    padding-right: 30px;
    padding-bottom: 0px;
    font-size: 16px;
}

#tabCountries_wrapper
{
    border:0px;
    padding:0px;
    margin:0px;
}

#tabCountries tr
{
    cursor: pointer;
}

/*tbody {*/
    /*display:block;*/
    /*height:50vh;*/
    /*overflow:auto;*/
/*}*/
/**/
/*thead, tbody tr {*/
    /*display:table;*/
    /*width:100%;*/
    /*table-layout:fixed;*/
/*}*/
/*thead {*/
    /*width: calc( 100% - 1em )*/
/*}*/


.progress {
    height: auto;
    background-color: rgba(0,120,153,.5);
    margin-bottom: 0px;
}

.progress-bar
{
    padding:10px;
    background-color: #007899;
    text-align: center;
    font-size:18px;
}