

<div class="login_form_box {{formloginCss}}" id="login_form">
    <!--<div class="btn_close">-->
        <a href="" ng-click="closeloginform()" class="btn_close pull-right">
            <i class="fa fa-2x fa-times" aria-hidden="true"></i>
        </a>
    <!--</div>-->
    <h3>SIGN IN</h3>
    <br /><br />
    <div class="form">
        <input type="text" placeholder="user name" class="form-control" ng-model="usr_name">
        <i class="fa fa-2x icon-login"></i>
    </div>
    <br />
    <div class="form">
        <input type="password" placeholder="password" class="form-control" ng-model="usr_psw">
        <i class="fa fa-2x icon-register"></i>
    </div>
    <br /><br />
    <div class="form text-center"><input type="button" class="btn btn-custom btn-lg" value="LOGIN" ng-click="loginUser()" /></div>
    <br /><br />
    <div class="text-center">
        <a href="">Forgot password?</a> &nbsp;&nbsp;&nbsp;<a href="">Create an account</a>
    </div>



</div>

