

<div class="rodi_footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <img src="img/template/rodi_logo_w.png" alt="Risk OpenData Index" style="max-width:200px;" />
                <div class="footer_separator"></div>
                <a href="" class="footer_link">Privacy Policy</a>
                <a href="" class="footer_link">Cookies Policy</a>
                <a href="" class="footer_link">Term of use</a>
                <br /><br />
                <span class="text-muted">Copyright 2017</span>
            </div>
        </div>
    </div>
</div>