

<div class="rodi_footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="container">
                    <div class="flex-container flex-row">

                        <h3 class="flex-item" style="color:white;">An initiative of </h3>
                        <img class="flex-item" src="img/partner/gfdrr.png" style="height:80px;margin-left:10px;" alt="" />
                    </div>
                </div>
                <div class="row">
                    <form action="" method="POST" class="form-inline" role="form">

                    	<div class="form-group">
                    		<label><b style="color:white;">Sign up for our newsletter: </b></label>
                    		<input type="email" class="form-control" name="" id="" placeholder="your.mail@here">
                    	</div>
<!--<button type="submit" class="btn btn-primary">Submit</button>-->
                    </form>

                </div>
                <!--<img src="img/template/rodi_logo_w.png" alt="Risk OpenData Index" style="max-width:200px;" />-->
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                    <h3 class="navbar-text flex-container flex-col ">
                        <a href="#" class="navbar-link">Link</a>
                        <a href="#" class="navbar-link">Link</a>
                        <a href="#" class="navbar-link">Link</a>
                        <a href="#" class="navbar-link">Link</a>
                    </h3>
            </div>
        </div>
        <div class="row">
            <div class="footer_down">
                <div class="footer_separator"></div>
                <div class="flex-container flex-row">
                    <span class="text-muted flex-item">© 2017 - Copyright RiskOpenData</span>
                    <a href="" class="footer_link text-muted flex-item">Privacy Policy</a>
                    <a href="" class="footer_link text-muted flex-item">Cookies Policy</a>
                    <a href="" class="footer_link text-muted flex-item">Term of use</a>
                </div>

            </div>
        </div>
    </div>
</div>