<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 " style="color:white;">
      <span class="footer_txt text-left">A joint effort by:</span><br>
      <div class="flex-container row">
        <div class="flex-container col">

          <a href="https://opendri.org/" target="_blank" style="margin-top: 30px;">
            <svg class="logo_partner bit_more _43" style="">
              <use xlink:href="img/partner_10.svg#logo_x5F_opendri"></use>
            </svg>
          </a>

          <a href="https://understandrisk.org/" target="_blank" style="margin-top: 10px;">
            <svg class="logo_partner bit_more _43" style="">
              <use xlink:href="img/partner_10.svg#logo_x5F_ur"></use>
            </svg>
          </a>
        </div>

        <a href="https://www.cimafoundation.org/" target="_blank">
          <svg class="logo_partner" style="">
            <use xlink:href="img/partner_10.svg#logo_x5F_cima"></use>
          </svg>
        </a>

        <a href="https://www.globalquakemodel.org/" target="_blank">
          <svg class="logo_partner" style="">
            <use xlink:href="img/partner_10.svg#logo_x5F_gem"></use>
          </svg>
        </a>
        <a href="https://www.deltares.nl/" target="_blank">
          <svg class="logo_partner" style="">
            <use xlink:href="img/partner_10.svg#logo_x5F_deltares"></use>
          </svg>
        </a>

      </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 ">
    <span class="footer_txt text-left">Supported by:</span>
    <br>
    <a href="https://www.gfdrr.org/" target="_blank" class="flex-container row">
      <svg class="logo_partner bit_more " style="">
        <use xlink:href="img/partner_10.svg#logo_x5F_gfdrr"></use>
      </svg>
    </a>
  </div>

</div>

<div class="row footer_menu">
  <div class="col-xs-12 text-center">
    <nav>
      <ul class="list-inline">
        <li><a href="contribute.html" ng-click="changeview('contribute.html', '1')">Submit a dataset</a></li>
        <li><a href="countries.html" ng-click="changeview('countries.html', '5')">Explore countries</a></li>
        <li><a href="methodology.html" ng-click="changeview('methodology.html', '2')">Documentation</a></li>
        <li><a href="about.html" ng-click="changeview('about.html', '9')">About</a></li>
        <li><a href="getdata.html" ng-click="changeview('getdata.html', '12')">Get the data</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">

    <span class="text-muted">Information on this website is crowdsourced. Results can be incomplete and should always be read carrefully as well as sources checked.</span><br><br>
    <span class="text-muted">© 2018 - Copyright Open Data for Resilience Index</span> -
    <a href="privacy.html" ng-click="changeview('privacy.html', '0')" class="footer_link text-muted flex-item">Privacy
      Policy</a>
    </div>
  </div>
</div>
