<!--<div class="col-xs-6 col-sm-12 col-md-8 col-lg-8">-->
    <nav class="navbar">
    <div class="container-fluid">
        <div class="row">
            <!-- mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-right-black collapsed" data-toggle="collapse" data-target="#menu-website" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-white"></span>
                    <span class="icon-bar icon-bar-white"></span>
                    <span class="icon-bar icon-bar-white"></span>
                </button>
                <button type="button" class="navbar-toggle navbar-toggle-left-black collapsed" data-toggle="collapse" data-target="#menu-hazard" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-white"></span>
                    <span class="icon-bar icon-bar-white"></span>
                    <span class="icon-bar icon-bar-white"></span>
                </button>
                <!--<a class="navbar-brand" href="#">Brand</a>-->
            </div>
        </div>
        <!-- mobile display -->
        <!--
        <div class="navbar-header">

           <button type="button" class="navbar-toggle navbar-toggle-left-black collapsed" data-toggle="collapse" data-target="#menu-hazard" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar icon-bar-white"></span>
                <span class="icon-bar icon-bar-white"></span>
                <span class="icon-bar icon-bar-white"></span>
            </button>

            <a class="navbar-brand" href="#">Brand</a>

        </div>
        -->
        <!-- Hazard menu -->
        <div class="collapse navbar-collapse" id="menu-hazard">
            <ul class="nav navbar-nav text-center">
                <li class="{{objHazardFilters.filterRiverFlood}}">
                    <a href="" ng-click="setFilter('filterRiverFlood')" class="active">
                        <i class="icon-river_flood"></i>
                        <span>RIVER FLOOD</span>
                    </a>
                </li>
                <li class="{{objHazardFilters.filterEarthquake}}">
                    <a href="" ng-click="setFilter('filterEarthquake')">
                        <i class="icon-earthquake"></i>
                        <span>EARTHQUAKE</span>
                    </a>
                </li>
                <li class="{{objHazardFilters.filterVolcano}}">
                    <a href="" ng-click="setFilter('filterVolcano')">
                        <i class="icon-volcano"></i>
                        <span>VOLCANO</span>
                    </a>
                </li>
                <li class="{{objHazardFilters.filterCyclone}}">
                    <a href="" ng-click="setFilter('filterCyclone')">
                        <i class="icon-cyclone"></i>
                        <span>CYCLONE</span>
                    </a>
                </li>
                <li class="{{objHazardFilters.filterCoastalFlood}}">
                    <a href="" ng-click="setFilter('filterCoastalFlood')">
                        <i class="icon-coastal_flood"></i>
                        <span>COASTAL FLOOD</span>
                    </a>
                </li>
                <li class="{{objHazardFilters.filterWaterScarsity}}">
                    <a href="" ng-click="setFilter('filterWaterScarsity')">
                        <i class="icon-water_scarcity"></i>
                        <span>WATER SCARSITY</span>
                    </a>
                </li>
                <li class="{{objHazardFilters.filterLandSlide}}">
                    <a href="" ng-click="setFilter('filterLandSlide')">
                        <i class="icon-landslide"></i>
                        <span>LANDSLIDE</span>
                    </a>
                </li>
                <li class="{{objHazardFilters.filterTsunami}}">
                    <a href="" ng-click="setFilter('filterTsunami')">
                        <i class="icon-tsunami"></i>
                        <span>TSUNAMI</span>
                    </a>
                </li>

<!--                <li>
                    <a href="">
                        <i class="icon-hazard_info"></i>
                        <span>HAZARD INFO</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-exposure"></i>
                        <span>EXPOSURE</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-vulnerability"></i>
                        <span>HAZARD VULNERABILITY</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-base_data"></i>
                        <span>BASE DATA</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-info"></i>
                        <span>RISK INFO</span>
                    </a>
                </li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--</div>-->