

<div class="help_feedback_box">
    <a ng-if="bHome" href="" ng-click="changeview('index.html', '0')"><i class="fa fa-home" aria-hidden="true"></i></a>
    <a ng-if="!bLogin" href="" ng-click="loginform()">
        <i class="fa icon-login"></i>
    </a>
    <a ng-if="bLogin" href="" ng-click="logout()"><small>Welcome {{username}} - </small> Logout</a>
    <a ng-if="!bLogin" ng-click="changeview('register.html', '4')" href="" ><i class="fa icon-register"></i></a>

    <a href=""></a>
    <a href="" ng-click="showHelp()"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
    <a href="" alt="Feedback"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>

</div>


<div class="contextual_content animated fadeIn" ng-if="showHelpIndex == '0'">
    <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
    help contestuale index
</div>

<div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '1'">
    <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
    help contestuale contribute.html
</div>

<div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '2'">
    <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
    help contestuale methodology.html
</div>

<div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '5'">
    <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
    help contestuale country-details.html
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    test
</div>