<!-- Main menu -->

<!-- Import VEX DIALOGS -->
<!-- VEX DIALOG - POPUP INIZIO -->
<script src="js/vendor/vex-dialogs/vex.min.js"></script>
<script src="js/vendor/vex-dialogs/vex.dialog.min.js"></script>
<link href="js/vendor/vex-dialogs/vex.css" rel="stylesheet" />
<link href="js/vendor/vex-dialogs/vex-theme-default.css" rel="stylesheet" />
<link href="js/vendor/vex-dialogs/vex-theme-plain.css" rel="stylesheet" />
<script>vex.defaultOptions.className = 'vex-theme-default';</script>
<!-- VEX DIALOG - POPUP FINE -->


<!--<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">-->
<div class="pull-right">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="row">
                <!-- mobile display -->
                <!--
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-toggle-right-black collapsed" data-toggle="collapse" data-target="#menu-website" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-bar-white"></span>
                        <span class="icon-bar icon-bar-white"></span>
                        <span class="icon-bar icon-bar-white"></span>
                    </button>

                </div>
                   -->
                <!-- Website menu -->
                <div class="collapse navbar-collapse" id="menu-website">
                    <ul class="nav navbar-nav flex-container flex-row">
                        <!--<li ng-if="bHome"><a href="" ng-click="changeview('index.html', '0')"><i class="fa fa-home" aria-hidden="true"></i></a></li>-->

                        <li><a href="" ng-click="changeview('contribute.html', '1')">Submit new dataset</a></li>
                        <li><a href="" ng-click="changeview('countries.html', '5')">Countries</a></li>
                        <li><a href="" ng-click="changeview('methodology.html', '2')">Methodology</a></li>
                        <!--<li><a href="" ng-click="changeview('browse-data.html', '3')">Countries</a></li>-->
                        <li><a href="" ng-click="changeview('about.html', '9')">About</a></li>
                        <li><a href="" ng-click="showHelp()">
                            <!--<i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" title="Contestual help"></i>-->
                            Help
                        </a>
                        </li>
                        <li ng-if="bLogin">
                            <a href="" ng-click="showFeed()" alt="Feedback">
                                <!--ng-if="bLogin"-->
                                <!--<i class="fa fa-commenting-o" aria-hidden="true" data-toggle="tooltip" title="Feedback"></i>-->
                                Feedback
                            </a>
                        </li>
                        <li>
                            <!--<helpfeedbackbox></helpfeedbackbox>-->
                            <div>
                                <a ng-if="bLogin" href="" ng-click="logout()" class="invert round flex-container flex-col">
                                    <p class="flex-row"><small class="hidden-sm">Welcome - </small><b>{{userinfo.username}}</b></p>
                                    <small>Logout</small>
                                </a>
                            </div>

                            <!-- ***** HELP SECTION ***** -->
                            <div class="contextual_content animated fadeIn " ng-if="showHelpIndex == '0'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help home page</h3>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '1'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help Contribute page</h3>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '2'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help methodology page</h3>
                            </div>

                            <!--<div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '3'">
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help Countries page</h3>
                            </div>-->

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '4'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help register page</h3>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '5'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help countries page</h3>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '6'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Dataset Details page</h3>
                            </div>

                            <!--<div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '7'">
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual News details page</h3>
                            </div>-->

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '8'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual confirm registration page</h3>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '9'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual about page</h3>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '10'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual dataset list page</h3>
                            </div>

                            <!-- ***** FEEDBACK SESISONE ***** -->
                            <div class="contextual_content animated fadeIn" ng-if="bShowFeedback" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideFeed()">CLOSE</a></div>
                                <h3>Send us a feedback</h3>
                                <br />
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type="text" name="feedbackmessage" class="form-control" placeholder="Insert yout message here" ng-model="feedbackMessage.comment">
                                        <div class="text-right">
                                            <br/>
                                            <a href="" ng-click="sendFeed()" class="btn btn-success">Send feedback</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>

                        <!--
                            <li ng-if="!bLogin"><a href="" ng-click="loginform()">Login</a></li>
                            <li ng-if="bLogin"><small>Welcome {{username}} <a href="" ng-click="logout()">Logout</a></small></li>
                            <li ng-if="!bLogin" ng-click="changeview('register.html', '4')"><a href="" >Register</a></li>
                        -->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>


        </div><!-- /.container-fluid -->
    </nav>
</div>

<!--
<div class="search">
    <form class="navbar-form navbar-left pull-right">
        <div class="form-group">
            <input list="countryList" ng-model="searchValue" type="text" class="form-control" placeholder="Search">
            <datalist id="countryList" style="overflow:auto;">
                <option ng-repeat="item in countrySuggestion | orderBy: 'name' " value="{{ item.name }}">{{ item.iso2 }}</option>
            </datalist>
        </div>
        <a type="submit" class="" ng-click="searchSubmit()"><i class="fa fa-search fa-2x"></i></a>
    </form>
</div>
-->


<loginform></loginform>
