<!-- Main menu -->

<!-- Import VEX DIALOGS -->
<!-- VEX DIALOG - POPUP INIZIO -->
<script src="js/vendor/vex-dialogs/vex.min.js"></script>
<script src="js/vendor/vex-dialogs/vex.dialog.min.js"></script>
<link href="js/vendor/vex-dialogs/vex.css" rel="stylesheet" />
<link href="js/vendor/vex-dialogs/vex-theme-default.css" rel="stylesheet" />
<link href="js/vendor/vex-dialogs/vex-theme-plain.css" rel="stylesheet" />
<script>vex.defaultOptions.className = 'vex-theme-default';</script>
<!-- VEX DIALOG - POPUP FINE -->


<!--<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">-->
<div class="pull-right">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="row">
                <!-- mobile display -->
                <!--
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-toggle-right-black collapsed" data-toggle="collapse" data-target="#menu-website" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-bar-white"></span>
                        <span class="icon-bar icon-bar-white"></span>
                        <span class="icon-bar icon-bar-white"></span>
                    </button>

                </div>
                   -->
                <!-- Website menu -->
                <div class="collapse navbar-collapse" id="menu-website">
                    <ul class="nav navbar-nav flex-container flex-row">
                        <!--<li ng-if="bHome"><a href="" ng-click="changeview('index.html', '0')"><i class="fa fa-home" aria-hidden="true"></i></a></li>-->

                        <li><a href="" ng-click="changeview('contribute.html', '1')">Submit new dataset</a></li>
                        <!--<li ng-if="bLogin"><a href="{{baseURL}}datasets_dump" target="_blank">Download</a></li>-->
                        <!--<li ng-if="bLogin"><a href="" ng-click="downloadCSV()">Download</a></li>-->
                        <li><a href="" ng-click="changeview('countries.html', '5')">Countries</a></li>
                        <!--<li><a href="" ng-click="changeview('stats.html', '11')">Statistics</a></li>-->
                        <li><a href="" ng-click="changeview('methodology.html', '2')">Methodology</a></li>
                        <!--<li><a href="" ng-click="changeview('browse-data.html', '3')">Countries</a></li>-->
                        <li><a href="" ng-click="changeview('about.html', '9')">About</a></li>
                        <li><a href="" ng-click="showHelp()">
                            <!--<i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" title="Contestual help"></i>-->
                            Help
                        </a>
                        </li>
                        <li ng-if="bLogin">
                            <a href="" ng-click="showFeed()" alt="Feedback">
                                <!--ng-if="bLogin"-->
                                <!--<i class="fa fa-commenting-o" aria-hidden="true" data-toggle="tooltip" title="Feedback"></i>-->
                                Feedback
                            </a>
                        </li>
                        <li>
                            <!--<helpfeedbackbox></helpfeedbackbox>-->
                            <div>
                                <a ng-if="bLogin" href="" ng-click="logout()" class="invert round flex-container flex-col">
                                    <p class="flex-row"><small class="hidden-sm">Welcome - </small><b>{{userinfo.username}}</b></p>
                                    <small>Logout</small>
                                </a>
                            </div>

                            <!-- ***** HELP SECTION ***** -->
                            <div class="contextual_content animated fadeIn " ng-if="showHelpIndex == '0'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help Homepage</h3>
                                <p>
                                    The Open data for resilience index is an initiative aiming at Tracking and improving the state of the art of open data for resilience worldwide.
                                    The dashboard maps the existence of datasets considered key to conduct disaster risk assessment.
                                    The index scores the various countries in terms of data availability, accessibility  and openness and represents a tool for advocacy for open data in risk analysis.
                                    <br />
                                    For a complete description of the methodology behind the index consult the Final Report (<a href="" style="display:inline; padding:0px" ng-click="changeview('methodology.html', '2')">Methodology</a>).
                                </p>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '1'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help Contribute page</h3>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '2'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help methodology page</h3>
                                <p>
                                    This page summaries the methodology behind the index. For a complete description of the methodology behind the index consult the Final Report (<link>).
                                </p>
                            </div>

                            <!--<div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '3'">
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help Countries page</h3>
                            </div>-->

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '4'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help register page</h3>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '5'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Help countries page</h3>
                                <p>
                                    This page presents the score of countries in map and tabular form. You can click on the Countries and you will be directed to a
                                    page that will enable you to browse the single datasets submitted for that Country. Scores are summarised per country or broken down for
                                    data categories. the scores can also be filtered using the hazard icons.
                                    <br />
                                    For a complete description of the methodology behind the index
                                    consult the Final Report (<a href="" style="display:inline; padding:0px" ng-click="changeview('methodology.html', '2')">Methodology</a>).
                                </p>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '6'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual Dataset Details page</h3>
                                <p>
                                    This page enables the visualisation of each dataset instance details. if you are the owner of such dataset, or a user with administration
                                    capabilities, you can also access the edit page for this dataset. the edit page is identical to the submission page and allows you to change details
                                    regarding the dataset instance.
                                </p>
                            </div>

                            <!--<div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '7'">
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual News details page</h3>
                            </div>-->

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '8'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual confirm registration page</h3>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '9'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual about page</h3>
                                For a complete description of the methodology behind the index consult the Final Report (<link>).<br />
                                For more details about the partners of this initiative click on the respective links.
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '10'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual dataset list page</h3>
                                <p>
                                    This page enable the browsing of the single datasets and datasets instances for a Countries. the data cn be filtered using the data categories and
                                    the hazard icons. Single dataset instances can be selected and consulted. the bags summarises the statistics using the filters. The missing datasets
                                    are also identified to guide further improvements in the open data policy of the Country.
                                    <br />
                                    For a complete description of the methodology behind the
                                    index consult the Final Report (<a href="" style="display:inline; padding:0px" ng-click="changeview('methodology.html', '2')">Methodology</a>).
                                </p>
                            </div>

                            <div class="contextual_content  animated fadeIn" ng-if="showHelpIndex == '11'" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideHelp()">CLOSE</a></div>
                                <h3>Contextual help - Statistics page</h3>
                                <p></p>
                            </div>

                            <!-- ***** FEEDBACK SESISONE ***** -->
                            <div class="contextual_content animated fadeIn" ng-if="bShowFeedback" ng-cloak>
                                <div class="text-right"><a href="" ng-click="hideFeed()">CLOSE</a></div>
                                <h3>Send us a feedback</h3>
                                <br />
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type="text" name="feedbackmessage" class="form-control" placeholder="Insert yout message here" ng-model="feedbackMessage.comment">
                                        <div class="text-right">
                                            <br/>
                                            <a href="" ng-click="sendFeed()" class="btn btn-success">Send feedback</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>

                        <!--
                            <li ng-if="!bLogin"><a href="" ng-click="loginform()">Login</a></li>
                            <li ng-if="bLogin"><small>Welcome {{username}} <a href="" ng-click="logout()">Logout</a></small></li>
                            <li ng-if="!bLogin" ng-click="changeview('register.html', '4')"><a href="" >Register</a></li>
                        -->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>


        </div><!-- /.container-fluid -->
    </nav>
</div>

<!--
<div class="search">
    <form class="navbar-form navbar-left pull-right">
        <div class="form-group">
            <input list="countryList" ng-model="searchValue" type="text" class="form-control" placeholder="Search">
            <datalist id="countryList" style="overflow:auto;">
                <option ng-repeat="item in countrySuggestion | orderBy: 'name' " value="{{ item.name }}">{{ item.iso2 }}</option>
            </datalist>
        </div>
        <a type="submit" class="" ng-click="searchSubmit()"><i class="fa fa-search fa-2x"></i></a>
    </form>
</div>
-->


<loginform></loginform>
