<!-- Main menu -->

<!-- Import VEX DIALOGS -->
<!-- VEX DIALOG - POPUP INIZIO -->
<script src="vendor/bower/vex/js/vex.min.js"></script>
<script src="vendor/bower/vex/js/vex.dialog.min.js"></script>
<link href="vendor/bower/vex/css/vex.css" rel="stylesheet" />
<link href="vendor/bower/vex/css/vex-theme-default.css" rel="stylesheet" />
<link href="vendor/bower/vex/css/vex-theme-plain.css" rel="stylesheet" />
<script>vex.defaultOptions.className = 'vex-theme-default';</script>
<!-- VEX DIALOG - POPUP FINE -->

<ul class="nav navbar-nav navbar-right">
  <li><a href="contribute.html" ng-click="changeview('contribute.html', '1')">Submit a dataset</a></li>
  <li><a href="countries.html" ng-click="changeview('countries.html', '5')">Explore countries</a></li>
  <li><a href="dataset_list.html?idcountry=AA" ng-click="changeview('dataset_list.html?idcountry=AA', '6')">Global data </a></li>
  <li><a href="methodology.html" ng-click="changeview('methodology.html', '2')">Documentation</a></li>
  <li><a href="about.html" ng-click="changeview('about.html', '9')">About</a></li>
  <li ng-if="!bLogin"><a href="#login_form" ng-click="loginform($event)">Login</a></li>
  <li ng-if="!bLogin"><a href="register.html" ng-click="changepage('register.html')">Register</a></li>
  <li ng-if="bLogin" class="logout">
    <a href="" ng-click="logout()" class="invert round">
        Log out - <b>{{userinfo.username}}</b>
    </a>
  </li>
</ul>


<loginform></loginform>
